/* Generic Stylings */

body{
    font-family: Helvetica, Arial, sans-serif;
}



/* App & Title Stylings */
.app-container{
    max-width: 750px;
}

.title-bar{
    width: 100%;
    background-color: #6f6f6f;
    color: #fff;
}

.title-bar h2{
    font-weight: lighter;
    padding: 15px 20px;
    margin: 0;
}

.app-body{
    background-color: #f9f9f9;
    width: 100%;
    height: 285px;
    padding-top: 20px;
}



/* Flashcard Styling */
.card-container{
    width: 494px;
    height: 225px;
    margin-left: 25px;
    border: 3px solid #e9e9e9;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.term-box, .hint-box{         
    position: absolute;
    top: 100px;
    left: 50px;
    color: darkgray;
}

.term, .term-box, .hint-box{
    color: #535353;
    font-size: 24px;
}

.term-box, .hint-box{
    font-size: 14px;
    font-weight: bold;
}

p.definition{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-container p{
    margin: 0;
}



/* Action Buttons Styling */
.bar{
    width: 500px;
    margin-left: 50px;
    margin-top: 10px;
}

.button{
    height: 35px;
    width: 75px;
    color: white;
    background-color: #019dd3;
    border-radius: 5px;
    border: none;
}

.button:focus{
    outline: none;
}

.button:hover{
    cursor: pointer;
}

.previous-button{
    float: left;
    margin-left: -25px;
}

.next-button{
    float: right;
    margin-right: 25px;
}

.toggle-button{
    background-color: gray;
}

p.help{
    height: 14px;
    font-size: 9px;
    display: inline-block;
    vertical-align: middle;
}



/* Status Bar */
.status-bar{
    width: 100%;
    margin-top: -240px;
    margin-left: 25px;
}

.progress-group{
    margin-top: 250px;
    margin-left: 175px;
}

.progress-group p{
    margin-top: 4px;
    width: 150px;
    text-align: center;
    font-size: 14px;
}

.toggle-group{
    margin-top: -295px;
    margin-left: 520px;
}

.toggle-group p{
    max-width: 150px;
    font-size: 9px;
    text-align: left;
}



/* Progress Bar Styling */
progress{
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 150px;
    height: 15px;
}

progress[value]::-webkit-progress-bar {
    background-color: #d3eee7;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: #b2cfd5;
    border-radius: 5px; 
}



/* More Generic */
.hidden {
    display:none;
}